html {
    background-color: #F5FBEF;
    color: #212121;
}

.promotional-button {
    background-color: #9C6DD9;
    border: none;
    border-radius: 50%;
    width: 222.93px;
    height: 222.93px;
}

.intro-card {
    background-color: #6DD99C;
    color: #F5FBEF;
    border-radius: 5px;
    width: 479px;
    height: 479px;
}